body {
    font-family: "RobotoDraft", "Roboto", "sans-serif";
    margin:0;
}

header {
    background-color: #3f51b5;
    color:white;
    line-height: 2em;
    padding:5px;
    display:flex;
}

footer {
    bottom: 0;
    position: fixed;
    background-color: #3f51b5;
    color:white;
    line-height: 2em;
    padding:5px;
    display:flex;
    width:100%;
}

.pointer {
    cursor: pointer;
}