.completed {
    color: red;
}

ul {
    list-style:none;
    padding: 0 0 0 5px;
}

li {
    display:flex;
    padding: 0;
    margin: 0 0 1px 0;
    width: calc(100% - 10px);
    background-color: #dddddd;
    color: black;
    font-size:0.8em;
    height:24px;
}

md-checkbox {
    position: relative;
    top:2px;
    left:2px;
}

md-spinner {
    display:inline-block;
    width:20px;
    height:20px;
    position:relative;
    top:2px;
    left:2px;
}

div.check {
    width: 30px;
}

div.task {
    flex: 1 1 auto;
    padding-top: 4px;
}

[md-icon-button] {
    width:24px;
    height:24px;
    line-height:24px;
}