<div *ngIf="category">
  
  Category {{ (category | async)?.name}}

  <h3>Categories</h3>
  <ul>
    <li *ngFor="let sub of (category | async)?.subs">
      <a [routerLink]="['/category/', sub.id]">{{sub.name}}</a> <button (click)="deleteCategory(sub.id)">Delete</button>
    </li>
  </ul> 

  <form (ngSubmit)="createCategory()" #categoryForm="ngForm">
    <input type=text required [(ngModel)]="model.category" name="cat" #cat="ngModel">
    <button type="submit">Create</button>
  </form>

  <h3>Tasks</h3>
  <ul>
    <li *ngFor="let task of (category | async)?.tasks">
      <div class="check">
        <md-checkbox [checked]="task.completed" (change)="toggleTaskComplete(task)" [hidden]="task.processing"></md-checkbox>
        <md-spinner *ngIf="task.processing"></md-spinner>
      </div>            
      <div class="task">{{task.name}}</div>
      <div class="menu">
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="deleteTask(task)">
            <md-icon>delete</md-icon>
            <span>Delete</span>
          </button>
        </md-menu>              
      </div>
    </li>
  </ul>

  <form (ngSubmit)="createTask()" #taskForm="ngForm">
    <md-input-container class="example-full-width" [floatingPlaceholder]="false">
      <input  md-input placeholder="New task" type=text required [(ngModel)]="model.task" name="task" #task="ngModel">      
    </md-input-container>
    <button md-icon-button type="submit"><md-icon>add_box</md-icon></button>
  </form>

</div>